.auto_build_up_arrow {
	background: url(https://gpit.innogamescdn.com/images/game/academy/up.png) no-repeat -2px -2px;
	width: 18px;
	height: 18px;
	position: absolute;
	right: -2px;
	bottom: 12px;
	transform: scale(0.8);
	cursor: pointer;
}

.auto_build_down_arrow {
	background: url(https://gpit.innogamescdn.com/images/game/academy/up.png) no-repeat -2px -2px;
	width: 18px;
	height: 18px;
	position: absolute;
	right: -2px;
	bottom: -3px;
	transform: scale(0.8) rotate(180deg);
	cursor: pointer;
}

.auto_build_box {
	background: url(https://gpit.innogamescdn.com/images/game/academy/tech_frame.png) no-repeat 0 0;
	width: 58px;
	height: 59px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.auto_build_building {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 50px;
	height: 50px;

	background: url(https://gpit.innogamescdn.com/images/game/main/buildings_sprite_50x50.png)
		no-repeat 0 0;
}

.auto_build_lvl {
	position: absolute;
	bottom: 3px;
	left: 3px;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: 0px 0px 2px black, 1px 1px 2px black, 0px 2px 2px black;
}

#buildings_lvl_buttons {
	padding: 5px;
	max-height: 400px;
	user-select: none;
}

.progress_bar_auto {
	position: absolute;
	z-index: 1;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(https://gpit.innogamescdn.com/images/game/border/header.png);
	background-position: 0 -1px;
	filter: brightness(100%) saturate(186%) hue-rotate(241deg);
}

.modern_bot_settings {
	z-index: 10;
	position: absolute;
	top: 52px !important;
	right: 116px !important;
}

.console_modernbot {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #fff;
	font-family: monospace;
	font-size: 16px;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
}

#MODERN_BOT_content {
	height: 100%;
}

.console_modernbot p {
	margin: 1px;
}
